/* ./src/styles/global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply py-2 px-4 border-gray-400 text-gray-700 border font-semibold border;
}
.btn:hover {
  @apply bg-blue-600 text-white;
}
/*.btn:hover {
  @apply border-blue-500 text-blue-700;
}*/
.btn-green {
  @apply bg-green-500;
}
.btn-border-green {
  @apply border border-green-600;
}
.btn-border-green:hover {
  @apply border-green-800 text-green-700;
}

.btn-fill:hover {
  @apply bg-blue-500 text-white;
}

@layer base {
  input {
    @apply border border-gray-400 py-2 px-4;
  }
  input:disabled {
    @apply bg-gray-200;
  }
  button:disabled {
    @apply bg-gray-200;
  }
  select {
    @apply border border-gray-400 py-2 px-4;
  }
  svg {
    display: inline;
  }
}
